*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
nav ul li{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
body{
  font-family: 'Roboto', sans-serif;
}
/*Header*/
header{
  width: 100vw;
  height: 700px;
  background-image: url('../img/background-header.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
  background-color: #0C325A;
  padding-left: 100px
}
.nav-top{
  height: 150px;
  padding-top: 50px;
}

/*logo*/
.logo{
  width: 100px;
  height: 100%;
}
.logo img{
  width: 100px;
  margin-left: 50px;

}
/* /logo*/

/*Menu centrale*/
.nav-center{
  width: 50%;
  padding-left: 150px;
  padding-top: 10px;
}
.nav-center ul li{
  display: inline-block;
  text-align: center;
}
.nav-center ul li a{
  padding: 0 20px;
  font-size: 12px;
}
/* /Menu centrale*/

/*Menu di destra*/
.nav-right{
  width: 35%;
  padding-top: 10px;
}
.nav-right ul li{
  display: inline-block;
  text-align: center;
}
.nav-right ul li a{
  padding: 10px 20px;
  font-size: 12px;
}
.nav-right ul li a.btn{
  margin: 0 20px;
  border: 2px solid white;
  border-radius: 5px;
}
.btn-green{
  background-color: #7CBB02;
  border: 2px solid #7CBB02;
  border-radius: 5px;
  margin: 0 20px;
}
/*/Menu di destra*/

/*jumbotron*/
.slogan{
  width: 750px;
  position: relative;
}
h1{
  display: block;
  /*padding-top: 200px;
  padding-left: 50px;*/
  color: white;
  font-size: 60px;
  font-weight: lighter;
  position: absolute;
  left: 50px;
  top: 100px;
  transform: translate(-50% -50%);
}
a.btn-greenbig {
  background-color: #7CBB02;
  border: 2px solid #7CBB02;
  border-radius: 5px;
  margin: 100px 20px;
  display: inline-block;
  padding: 30px;
  position: absolute;
  left: 31px;
  top: 200px;
  transform: translate(0 -50%);
}
